<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go
			To Home Page</button>
	</form>
	<div class="container">
    <div th:if="${not #lists.isEmpty(employees)}">
        <h2>All Products</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}">Id</td>
                <td th:text="${employee.name}">Name</td>
                <td th:text="${employee.email}">Email</td>
                <td th:text="${employee.mobile}">Mobile</td>
                <td><a th:href="${'/employee/edit/' + employee.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/employee/delete/' + employee.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>